# Editors
.vscode/
.idea/

# Mac/OSX
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

# logging
/notebooks/catboost_info/
/notebooks/CBM_PointWise-04-16-2023-00-26-32/
/notebooks/CBM_PointWise-04-16-2023-00-35-57/
/notebooks/CBM_PointWise-04-16-2023-01-19-32/
/notebooks/CBM_PointWise_all_data-04-16-2023-20-05-43/
/notebooks/cbm_test/
/notebooks/learn/
/notebooks/mlruns/
/notebooks/test/
/notebooks/tmp/
/notebooks/learn_error.tsv
/notebooks/test_error.tsv
/notebooks/time_left.tsv
/data/hw_2/
/data/kion_train/
/data/knn/
